:root {
	--square-side: 40px;
	--corner-distance: calc(var(--square-side) * -1 - 5px);
	--add-button-distance: 3px;
	--bottom-button-distance: calc(var(--square-side) * -1 - 7px)
}

#first-container,
#second-container{
	margin: 100px;
}


.field {
	display: inline-block;
	border: #A2D4F5 solid 2px;
	padding: 2px;
	float: left;
	position: relative;
}

.row {
	display: flex;
	clear: both;
	float: left;
}

.square {
	width: var(--square-side);
	height: var(--square-side);
}

.button-add:before,
.button-remove:before {
	font-family: FontAwesome;
}

.button-remove:before {
	content: '\f068';
}

.button-add:before {
	content: '\f067';
}

.button {
	display: inline-block;
	text-align: center;
	position: absolute;
	cursor: pointer;
	line-height: var(--square-side);
	font-size: 10px;
	color: #FFFFFF;
}

.button-remove {
	background-color: #B20000;
	visibility: hidden;
	transition: visibility 0.5s;
}

.button-add {
	background-color: #F3A500;
	margin: 2px 0;
}

.row .square {
	margin: 1px;
	display: inline-block;
	background-color: #48AAE6;
}

.remove-row {
	left: var(--corner-distance);
	top: 1px;
}

.remove-col {
	top: var(--corner-distance);
	left: var(--add-button-distance);
}

.add-row {
	bottom: var(--bottom-button-distance);
	left: var(--add-button-distance);
}

.add-col {
	right: var(--corner-distance);
}

.field .button-remove.visible {
	visibility: visible;
}

.button-remove:hover {
	background-color: #e9967a;
	transition: background-color 2s;
}
